canvas{
   position : fixed;
   display: flex;
   top: 0;
   left : 0;
   overflow-y: hidden;
}

main{
   position: absolute;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   pointer-events: none;
}

#direction-comp{
   position: absolute;
   top : 2vh ; 
   height: 12vh;
   
}

#target-scope{
   height: 25vh;
   width: 50vw;
   background-color: none;
   border: 3px solid var(--third-color);
   filter:  
      drop-shadow(0 0 12px var(--third-color))
      drop-shadow(0 0 15px rgb(238, 180, 255));
   border-radius: 50%;
}

#target-point{
   position:absolute;
   opacity: 0; /*changed in target_three.js*/
   top:50%;
   left:50%;
   transform:translate(-50%, -50%);
   border-radius: 50%;
   height: 3vh;
   width: 6vw;
   border : 1.5px dashed var(--third-color);
   filter:
      drop-shadow(0 0 6px var(--third-color))
}

#object-infos-tab{
   opacity: 0; /*by default settings of closed panel , adding .open class then*/
   z-index: -1;
   overflow-y: scroll;

   scrollbar-width: none; /* Firefox */
   -ms-overflow-style: none; /* IE/Edge */

   position: absolute;
   bottom: 0;
   left: 0;
   background-color: var(--base-color);
   border-top: 2px solid var(--third-color);
      filter:  
      drop-shadow(0 0 6px var(--third-color))
      drop-shadow(0 0 7.5px rgb(238, 180, 255));
   height: 30vh;

}

#object-infos-tab.open{
   pointer-events: all;
   opacity: 1;
   z-index: 1;
}


#object-infos-tab::-webkit-scrollbar{
   display:none;
}

#object-titleandimage{
   display: flex;
}

#object-title-section{
   font-family: Mansalva;
   font-size: 2em;
   margin : 4vh 0 0 5vw;
   flex: 0 0;
}

#object-coords-section{
   display: flex;
   flex-direction: column;
   gap: 1vh;
   margin: -6vh 0 7vh 5vw;
   user-select: text;
}

#object-image-section{
   margin-top: 2.5vh;
   width: 37.5%;
   margin-left: auto;
   margin-right: 2vw;
   border: 1px solid var(--text-color);
   filter:
      drop-shadow(0 0 2px var(--text-color))
      drop-shadow(0 0 3px var(--third-color));
   border-radius: 50%;
}