
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

:root {
   --base-color : rgb(0, 0, 0);
   --base-colorvar : rgba(24, 23, 23, 0.781);
   --elem-colorvar : rgb(201, 197, 197);
   --third-color: rgb(238, 180, 255);
   --text-color: white;
   --font-style: "Mansalva", sans-serif;
}



.red {
   --light-color : rgb(255 , 0 , 0);
}

.green {
   --light-color : rgb(0 , 255 , 0);
}

.yellow {
   --light-color : rgb(255 , 255 , 0);
}